         .nav-batrei{
             height: 45px;
         }
         .tombol-batrei{
            margin-top: -10px;
         }
         .geser{
             margin-left : 5px;
         }
         .st{
             margin-top: -10px;
         }
