@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.login{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

body {
        width: 100%;
        text-decoration: none;
        overflow-x: hidden !important;
        color: black !important;
        width: 100%;
     }
    .tombol-home{
        margin-top : 15px !important;
    }
    .shell {
        width: 100%;
    }
    .pembatas{
        margin-top: 123px !important;
    }
    .gambar{
        width: 100px;
        height: 100px;
    }
    .tulisan {
        color: #fff;
        font-size: 12pt;
        margin-top: 15px;
        text-decoration: none;
    }
    .path {
        color: #fff;
        font-size: 12pt;
        text-decoration: none;
    }
    .path:hover {
        color: #c2c7d6;
    }
    .info {
        color: #fff;
        font-size: 12pt;
        text-decoration: none;
        margin-top: -50px;
    }
    .navbar
    .nav-link {
        color: #fff !important;
        text-decoration: none;
        font-size: 12pt;
        margin-top: 10px;
    }
    .navbar-brand {
        padding-top: 15px;
        color: #fff !important;
        text-decoration: none;
    }
    .file {
        width: 90%;
    }
    .uploader {
        background: 0 0 !important;
        color: #fff;
    }
    .menu {
        margin-top: 15px;
    }
    .tombol {
        margin-top: -30px;
        width: 100%;
        color: #fff;
    }
    .tutup {
    z-index: 999 !important;
    margin-top: -10px !important;
    visibility: visible !important;
    }
    .bgnya {
    background-color: transparent;
    visibility: hidden;
    }
    .lihat {
    visibility: visible !important;
    width: 126% !important;
    margin-top: -20px;
    margin-left: -30px;
    }
    .tools {
    visibility: visible;
    margin-top: -3px;
    }
    .tambah {
    margin-top: 20px;
    margin-bottom: 20px;
    }
    .label {
    margin-top: 10px;
    }
    .tambahdir {
        margin-top: 5px;
        color: #fff;
        width: 90%;
    }
    .klik {
        width: 45%;
        color: #fff;
    }
    ::marker {
        color: #f5f5f5;
        size: 100px !important;
    }
    .pathnya {
        margin-top: -10px;
    }
    .tablenya {
        overflow-x: scroll;
    }
    .pembatas{
        margin-top: 25px;
    }
    .up-icon{
            z-index: 9999;
            position: fixed;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: white;
            bottom: 40px;
            right: 50px;
            text-decoration: none;
            text-align: center;
            line-height: 50px;
            color: white;
    }
    .home{
            margin-top: -15px;
        }
    .home,.linknya{
        color: white !important;
        text-decoration: none;
    }
    .information-server{
        margin-bottom: -17px;
    }
    .bi-chevron-up{font-size: 20px;line-height: 25px;color:black;}
    @media (min-width: 768px) {
        body {
            text-decoration: none;
            overflow-x: hidden;
            color: #fff;
            width: 100%;
        }
        .tombol-home{
            margin-top : 15px !important;
        }
        .shell {
            width: 100%;
        }
        .uploader {
            background: 0 0 !important;
            color: #fff;
        }
        .tombol {
            margin-top: -30px;
            width: 100%;
            color: #fff;
        }
        .tutup {
            z-index: 999 !important;
            margin-top: -10px !important;
            visibility: visible !important;
            margin-left: -10px;
        }
        .bgnya {
            background-color: transparent;
            visibility: hidden;
        }
        .lihat {
            visibility: visible !important;
            width: 112% !important;
            margin-top: -20px;
            margin-left: -30px;
        }
        .tambah {
            margin-top: 30px;
            margin-bottom: 25px;
        }
        .label {
            margin-top: 10px;
        }
        .tambahdir {
            margin-top: 5px;
            color: #fff;
            width: 30%;
        }
        .klik {
            width: 50%;
            color: #fff;
        }
        .pembatas{
            margin-top: 25px;
        }
        .up-icon{
            z-index: 9999;
            position: fixed;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: white;
            bottom: 40px;
            right: 50px;
            text-decoration: none;
            text-align: center;
            line-height: 50px;
            color:white;
        }
        .bi-chevron-up{font-size: 20px;line-height: 25px;color:black;}
        .home{
            margin-top: -15px;
        }
        .home,.linknya{
            color: white !important;
            text-decoration: none;
        }
    }
    @media (min-width: 992px) {
        body {
            color: #fff;
            overflow-x: hidden !important;
            text-decoration: none;
            width: 100%;
        }
        .tombol-home{
            margin-top : 15px !important;
        }
        .shell{
            width: 100%;
        }
        .pembatas{
            margin-top: 11px !important;
        }
        .uploader {
            background: 0 0 !important;
            color: #fff;
        }
        .tombol {
            margin-top: -30px;
            width: 100%;
            color: #fff;
        }
        .file {
            width: 30%;
        }
        .tools {
            visibility: hidden;
            margin-left: -38px;
        }
        .tambah {
            margin-top: 30px;
            margin-bottom: 25px;
        }
        .label {
            margin-top: 10px;
        }
        .tambahdir {
            margin-top: 5px;
            color: #fff;
            width: 30%;
        }
        .klik {
            width: 50%;
            color: #fff;
        }
        .about {
            margin-left: 6px;
        }
        .tablenya {
            overflow: auto !important;
        }
        .pembatas{
            margin-top: 25px;
        }
        .up-icon{
            z-index: 9999;
            position: fixed;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: white;
            bottom: 40px;
            right: 50px;
            text-decoration: none;
            text-align: center;
            line-height: 50px;
            color:black;
        }
        .bi-chevron-up{font-size: 20px;line-height: 25px;color:black;}
        .home{
            margin-top: -15px;
        }
         .tombol-home{
            margin-top : 15px !important;
        }
        .home,.linknya{
            color: white !important;
            text-decoration: none;
        }
    }
