body {
    overflow-x: hidden !important;
    font-family: 'Shippori Mincho', serif;
}

.navbar {
    background-color: darkred;
}

.garis {
    visibility: hidden;
    z-index: -999;
}

.garis2 {
    visibility: hidden;
    z-index: -999;
}

.home {
    margin-bottom: -160px !important;
}

.navbar-brand {
    font-family: 'RocknRoll One', sans-serif;
}

.FX {
    margin: 0 auto !important;
}

.gambar {
    margin-top: -70px;
    height: 130px;
    width: 130px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.jumbotron {
    height: 360px;
}

.skill {
    height: 360px;
}

.about {
    background-color: darkred;
    height: 360px;
    color: white;
}

.sertifikat {
    background-color: darkred;
    height: 800px;
    color: white;
}

.icon {
    margin-right: 10px;
}

.serti {
    margin-left: 15px;
    margin-bottom: 20px;
}

.tulisan {
    font-size: 14pt;
    padding-top: 5px;
    margin-right: 35px;
}

.komunitas {
    color: black;
    height: 1500px;
}

.team {
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.kontak {
    background-color: darkred;
    margin-top: -5px;
    height: 850px !important;
}

.ig {
    margin-right: 10px !important;
    margin-bottom: 10px;
}

.tombol {
    width: 100%;
}

.sm li {
    display: inline-block !important;
}

.footer {
    background-color: darkred;
    color: white;
    margin-top: 2500px;
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    body {
        overflow-x: hidden;
        font-family: 'Shippori Mincho', serif;
    }
    .tulisan {
        font-size: 18pt;
        padding-top: 5px;
        margin-right: 15px;
    }
    .navbar {
        background-color: darkred;
    }
    .garissatunya {
        margin-top: 10px;
        z-index: 999 !important;
        visibility: visible !important;
    }
    .garissatunya2 {
        visibility: visible !important;
        margin-top: -12px;
        z-index: 999 !important;
    }
    .navbar-brand {
        font-family: 'RocknRoll One', sans-serif;
    }
    .home {
        background-color: white;
        height: 60px;
        margin-top: -10px;
        margin-bottom: -8px;
        color: black;
    }
    .active {
        margin-top: 10px;
        color: black !important;
    }
    .gambar {
        margin-top: -170px;
        height: 150px;
        width: 150px;
        border-radius: 100%;
    }
    .jumbotron {
        height: 360px;
    }
    .skill {
        height: 360px;
    }
    .sertifikat {
        background-color: darkred;
        height: 460px;
        color: white;
    }
    .serti {
        margin-top: 10px;
    }
    .about {
        background-color: darkred;
        height: 360px;
        color: white;
    }
    .komunitas {
        color: black;
        height: 550px;
    }
    .team {
        margin-bottom: 20px;
    }
    .kontak {
        background-color: darkred;
        margin-top: -5px;
        height: 530px !important;
    }
    .ig {
        margin-right: 15px !important;
        margin-bottom: -5px;
    }
    .tombol {
        width: 100%;
    }
    .sm li {
        display: inline-block !important;
    }
    .footer {
        background-color: darkred;
        color: white;
        margin-top: 1600px;
    }
}