@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    overflow-y: hidden;
    overflow-x: hidden;
}

.bg-ungu{
    background-color: #23153C;
}
.brand{
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 991.98px) {
    .brand{
        font-family: 'Roboto', sans-serif;
    }
}